@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapperhead{
    background: #000000; 
    margin-bottom: 135px;
    display: flex;
}
.containerhead{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 10px 0;
    
  
}
.main_ul{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center; 
    column-gap: 15px; 

    
    
}
.main_ul > li{
    text-transform: uppercase;
    position: relative;
   
   
   
} 
.main_ul > li a{
    text-decoration: none;
    color: white;
    padding: 10px 0 10px 40px;
    display: block;
    position: relative;
    
}
.main_ul .down a{
    text-decoration: none;
    color: white;
    padding: 10px 40px 10px 0;
    display: block;
    position: relative;   
}
.main_ul .left a{
    text-decoration: none;
    color: white;
    padding: 10px 0 10px 20px;
    display: block;
    position: relative;   
}

.main_ul > li:hover .second_ul
{
    top: 100%;
    
}
.second_ul > li:hover .third_ul{
    z-index: 5;
    opacity: 1;
}
.main_ul>li:hover,
.second_ul>li:hover,
.third_ul>li:hover{
    background-color: green;
  
}
.main_ul>li a:hover{
    color: yellow;
    fill: yellow;
}
.main_ul>li a:hover .icon,
.main_ul>li a:hover .icon2{

    fill: yellow;
}


.second_ul{
    position: absolute;
    top: -450%;
    left: 0;
    transition: all 1s linear;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}


.second_ul > li{
    position: relative;
}
.second_ul>li a{
    text-decoration: none;
    color: white;
    padding: 10px 0 10px 40px;
   
    position: relative;
}
.third_ul{
    position: absolute;
    top: 0;
    right: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in-out;
    opacity: 0;
    z-index: -5;
    
   
    
}
.logo{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
   
    display: flex;
    align-items: center;
    
}
.logo > a{
text-transform: uppercase;
text-decoration: none;
color: white;
}
.fale_list{
    padding: 0 10px;
}

.h111{
    font-size: 25px;
    font-weight: 800;
    margin: 0 0 10px 0;
}
.footer{
    background: #000;
   
}
.content{
    flex-grow: 1;
    width: 600px;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 135px;
    opacity: 0.8;
}
.flex{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;


}
.footer_ul>li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 13px 0 10px 48px;
    position: relative;
    
}
.footer_ul>li a:hover .icon   {
fill: yellow;
}
.footer_ul>li a:hover .span    {
    color: yellow;
   
    }

.footer_ul{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

} 

.icon {
    fill: white;
    width: 40px;
    height: 40px;
}

.icon2 {
    fill: white;
    width: 40px;
    height: 40px;
}
.footer_ul .icon{
    position: absolute;
    top: 0;
    left: 0;
} 

.main_ul .icon{
    position: absolute;
    top: 0;
  
    left: 0;
    width: 30px;
    height: 30px;
    display: block;
} 
.left .icon{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    
}
.main_ul .icon2{
    position: absolute;
    
   left: auto;
   right: 0;
   top: 0;
    width: 30px;
    height: 30px;
    display: block;
} 
.regulartitle{
    padding: 0 0 0 45px;
}
.firstsite{
    padding: 0 20px 0 0;  
}
.popup{
    position: fixed;
    bottom: 0;
    right: 50%; 
    border: 2px solid yellow;
    width: 400px;
    transform: translate(50%, 75%);
    opacity: 1;
    transition: all 0.5s ease-in;
    z-index: 10;
    background: #000;
    
}
.popup >h3{
    font-size: 35px;
    color: white;
    text-align: center;
    border-bottom: 2px solid yellow;
}
.popup:hover{
    position: fixed;
    bottom: 0;
    right: 50%; 
    border: 2px solid yellow;
    width: 400px;
    transform: translate(50%,0);
    
    
}
.footer{
    width: 100px;
    padding: 25px 0;
    margin: 0 auto;

}
.svg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    transform: rotate(-45deg);
    overflow: hidden;
    align-items: center;
}
.svg >li a  {
   display: block;
   border: 2px solid white;
   width: 35px;
   height: 35px;
   overflow: hidden;
}
.icon3 {
    fill: white;
    width: 25px;
    height: 25px;
    transform: translate(5%,5%) rotate(45deg) ;
}
.icon3:hover{
    fill: yellow;
}
